*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  --rows: 8;
  --columns: 8;

  --max-width: 1000px;
  --max-height: 500px;
}

body {
  background-color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.chessboard {
  background: burlywood;
  transform-style: preserve-3d;
  top: 50%;
  transform: translateY(-50%) perspective(500px) rotateX(30deg)
    translateY(-100px);

  padding: 10px;
  display: grid;
  --cell-size: calc(80vmin / max(var(--rows), var(--columns)));
  grid-template-columns: repeat(var(--columns), var(--cell-size));
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  position: absolute;
}

.chessboard::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 30px;

  background: brown;

  transform-origin: top;
  transform: perspective(500px) rotateX(-30deg);
}

.chessboard .field.whiteField {
  background-color: wheat;
}
.chessboard .field.blackField {
  background-color: orange;
}

.chessboard .field.fieldSelected {
  background-color: green;
}

.chessboard .field:hover {
  opacity: 0.5;
}

.chessboard .cylinder {
  width: 100%;
  height: 100%;
}

.chessboard .cylinder.black {
  background: radial-gradient(black 0 50%, orange 50%);
}

.chessboard .cylinder.white {
  background: radial-gradient(greenyellow 0 50%, orange 50%);
}

.chessboard .field:hover > .cylinder {
  cursor: pointer;
}

.chessboard .field > .cylinder.black.canMove {
  background: radial-gradient(initial 0 50%, orange 50%);
  opacity: 0.5;
}

.chessboard .field > .cylinder.white.canMove {
  background: radial-gradient(initial 0 50%, orange 50%);
  opacity: 0.5;
}
